STRING_SESSION=BQAjdBpyTGs8dJ15UHrDCiGlsBbeO1nOj4g9pjbxXVpzxzxHk0s9rkh4HWn3RQvueMdq4R76nivuMrSXIh8micLpzBy3rCxm3yNBB0zeYykA9pkP7O08AMMRlWGTh6Z34AW3kBeN7eB4O31Y_uuM86deWjUfMA4TcfwerQKp90_T5tnafC-DuOmHsv-vMLda569WRGGQyl18VdEKWAatbipkDgU8J6_shtsPqNYRqSqaQ9ISMU0DT1quXFFdgvjgiTn52msGy3LRp6FRNaAhcoKmPjDkKcCDgYGEDQYD0xkkY5qFldRT0ZZ4GAnEpJ3vGa0DQfF_F3xVYJOYoKiXtyGPaBIHywA
API_ID=4524065
API_HASH=025df0a9fbd5ce6353944e791beeb3d2
BOT_TOKEN=1840363934:AAG__5Q_YEKTfmyurlcsNW_ryBEwVSQbdnU
MONGO_DB_URI=mongodb+srv://ammayy:redminote8.@cluster0.vqxnp.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001323421994
MUSIC_BOT_NAME=SteadyMusic
